<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>JLXD Web Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">JLXD Web Portal</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/container">Containers</a></li>
				<li><a href="/image">Images</a></li>
				<li><a href="/profile">Profiles</a></li>
			</ul>
		</div>
    </div>
</nav>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>JLXD Web Portal</h1>
		
		<p>
		Welcome to the JLXD Web Portal. Click one of the above links to start using the application.
		</p>
    </div>

</div>

<div class="container">
    <footer>
        <p>
            © <a href="http://www.jcloud.com.au">jcloud.com.au</a> 2017
        </p>
    </footer>
</div>

<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>

</body>
</html>