<h4>List of containers <button type="submit" class="btn btn-small btn-info" onclick="reloadContainers()">Refresh</button></h4>
<table id="containerTable" class="table table-striped">
	<thead id="containerTableHeader">
		<tr>
			<td>Name</td>
			<td>Status</td>
			<td>PID</td>
			<td>IP</td>
			<td>Start</td>
			<td>Stop</td>
		</tr>
	</thead>
	<tbody id="containerTableData">
		{{#each this}}
		<tr>
			<td id="name"><b>{{name}}</b></td>
			<td id="status">{{status}}</td>
			<td id="pid">{{state.pid}}</td>
			<td id="ip">{{state.network}}</td>
			<td id="startContainer"><a href="#" onclick="ajaxPost('/container/start/{{name}}')">START</a></td>
			<td id="stopContainer"><a href="#" onclick="ajaxPost('/container/stop/{{name}}')">STOP</a></td>
		</tr>
		{{else}}
		<tr><td colspan="6">No containers found</td></tr>
		{{/each}}
		<tr>
			<td colspan="6"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#addContainer">Add Container</button></td>
		</tr>
	</tbody>
</table>
