{{#each this}}
<h3>Server: {{name}} {{remoteHostAndPort}}</h3>
<h4>List of containers <a href="#" onclick="fire_ajax_submit('/server/{{name}}/container/search','template/handlebars/container.html',$('#containers'))">Refresh</a></h4>
<table id="containerTable" class="table table-striped">
	<thead id="containerTableHeader">
		<tr>
			<td>Name</td>
			<td>Status</td>
			<td>PID</td>
			<td>Start</td>
			<td>Stop</td>
		</tr>
	</thead>
	<tbody id="containerTableData">
		{{#each containers}}
		<tr>
			<td id="name"><b>{{name}}</b></td>
			<td id="status">{{status}}</td>
			<td id="pid">{{state.pid}}</td>
			<td id="startContainer"><a href="#" onclick="ajaxPost('/server/{{../name}}/container/start/{{name}}')">START</a></td>
			<td id="stopContainer"><a href="#" onclick="ajaxPost('/server/{{../name}}/container/stop/{{name}}')">STOP</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{/each}}
