<h4>List of images <button type="submit" class="btn btn-small btn-info" onclick="reloadImages()">Refresh</button></h4>
<table id="imageTable" class="table table-striped">
	<thead id="imageTableHeader">
		<tr>
			<td>Aliases</td>
			<td>Fingerprint</td>
			<td>Architecture</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody id="imageTableData">
		{{#each this}}
		<tr>
			<td id="alias">{{#each aliases}}<b>{{name}}</b><br/>{{else}}<button type="submit" class="btn btn-small btn-info" onclick="addAlias()">Add Alias</button>{{/each}}</td>
			<td id="fingerprint"><b>{{fingerprint}}</b></td>
			<td id="arch">{{architecture}}</td>
			<td id="desc">{{description}}</td>
		</tr>
		{{else}}
		<tr><td colspan="4">No images found</td></tr>
		{{/each}}
	</tbody>
</table>