<h4>List of profiles <button type="submit" class="btn btn-small btn-info" onclick="reloadProfiles()">Refresh</button></h4>
<table id="profileTable" class="table table-striped">
	<thead id="profileTableHeader">
		<tr>
			<td>Type</td>
			<td>Status</td>
			<td>StatusCode</td>
		</tr>
	</thead>
	<tbody id="profileTableData">
		{{#each this}}
		<tr>
			<td id="type"><b>{{type}}</b></td>
			<td id="status">{{status}}</td>
			<td id="statusCode">{{statusCode}}</td>
		</tr>
		{{else}}
		<tr><td colspan="3">No profiles found</td></tr>
		{{/each}}
	</tbody>
</table>